#sidebar {
  grid-area: sidebar;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 4px 0px 16px #0a0a0a17;
}

.logo {
  margin: 1.3rem;
  max-width: 142px;
}

.navigation {
  margin-top: 32px;

  .navigation-title {
    font-size: 14px;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--neutral-gray);
  }

  a {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--neutral-gray-dark);
    align-items: center;
    padding: 1rem;

    img {
      width: 28px;
    }
  }

  .active {
    color: var(--primary);
    background-color: var(--neutral-background);

    path {
      fill: var(--primary);
    }
  }
}

@media screen {
  @media (min-width: 769px) {
    .navbar_button {
      display: none;
    }
  }

  @media (max-width: 768px) {
    #sidebar {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      padding: 1.2rem;
      align-items: center;
    }

    .navigation {
      width: 100%;
      .navigation-title {
        display: none;
      }
    }

    .logo {
      margin: 0;
    }
  }
}
