.content_cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1.2rem 1.5rem;
  width: 260px;
  height: 90px;
  gap: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 8px hsl(0deg 0% 46% / 10%);

  .card_ico {
    width: 40px;
    height: 40px;
  }

  > div {
    display: flex;
    flex-flow: column;
    gap: 5px;

    p {
      font-size: 1rem;
      font-weight: 600;
      color: var(--neutral-black);
    }

    span {
      font-weight: 600;
      color: var(--primary);
    }
  }
}

.charts {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px hsl(0deg 0% 46% / 10%);
}

.double_charts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media screen {
  @media (max-width: 571px) {
    .card {
      width: 100%;
    }
  }

  @media (max-width: 787px) {
    .content_header {
      > input {
        width: 100%;
      }
      > button {
        display: none;
      }
    }
  }
}
