.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas: "sidebar content";
}

@media screen {
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-flow: column;
    }
  }
}
